The first step will be to create a dictionary in which each key will be a Lender and the values their different attributes

In [300]:
import numpy as np
import pandas as pd

lender_info = []
lender_info

[]

The second step will be to create a function that updates de diccionary and adds the new lenders that enter the market

In [301]:
def lender(name, rate, cash):
    lender_info.append([name, rate, cash])
    return lender_info

apply the formula to the lenders that want to enter the market

In [302]:
lender("Bob" , 0.075, 640)
lender("Jane" , 0.069, 480)
lender("Fred" , 0.071, 520)
lender("Mary" , 0.104, 170)
lender("John" , 0.081, 320)
lender("Dave" , 0.074, 140)
lender("Angela" , 0.071, 60)
lender_info

[['Bob', 0.075, 640],
 ['Jane', 0.069, 480],
 ['Fred', 0.071, 520],
 ['Mary', 0.104, 170],
 ['John', 0.081, 320],
 ['Dave', 0.074, 140],
 ['Angela', 0.071, 60]]

In [303]:
dflender= pd.DataFrame(lender_info, columns=(["name", "rate", "cash_available"]))
dflender

     name   rate  cash_available
0     Bob  0.075             640
1    Jane  0.069             480
2    Fred  0.071             520
3    Mary  0.104             170
4    John  0.081             320
5    Dave  0.074             140
6  Angela  0.071              60

The first step is to create sort the Dataframe by rate from lowest to highest.

In [347]:
def sort_dict():
    return dflender.sort_values(by="rate").reset_index(drop=True).copy(deep=True)
dflender = sort_dict()
dflender

     name   rate  cash_available
0    Jane  0.069             480
1    Fred  0.071             520
2  Angela  0.071              60
3    Dave  0.074             140
4     Bob  0.075             640
5    John  0.081             320
6    Mary  0.104             170

The sort_dict function will do the sorting automatically every time we call it!

In [369]:
def borrow2(amount):
    i = 0
    cost_borrowing = []
    while amount > 0:
        if amount == dflender["cash_available"][i]:
            cost_borrowing.append(amount * dflender["rate"][i])
            amount -= dflender["cash_available"][i]
        elif amount < dflender["cash_available"][i]:
            cost_borrowing.append(amount * dflender["rate"][i])
            amount -= dflender["cash_available"][i]
        elif amount > dflender["cash_available"][i]:
            cost_borrowing.append((amount-(amount-dflender["cash_available"][i])) * dflender["rate"][i])
            amount -= dflender["cash_available"][i]
        i = i+1
        
    return(np.sum(cost_borrowing))
borrow2(1300)

92.16

In [192]:
def borrow(amount):
    lowest_rate = 1
    cost_of_borrowing = 0
    name = ""
    for a in lender_info.values():
        if a[0] < lowest_rate:
            lowest_rate =  float(a[0])
    for n,d in lender_info.items():
        name = d
        quantity = d[1] 
        rate = d[0]
        if rate == lowest_rate and (amount == quantity):
            cost_of_borrowing += amount*rate
        elif rate == lowest_rate and (amount < quantity):
            lender_info[name] = [rate , (quantity - amount)]
            cost_of_borrowing += amount*rate
            
        
    return(cost_of_borrowing)

In [323]:
dflender.iloc[0,1]

0.069

In [330]:
dflender["rate"][0]

0.069

In [335]:
dflender["cash_available"]

0    480
1    520
2     60
3    140
4    640
5    320
6    170
Name: cash_available, dtype: int64

In [337]:
dflender["cash_available"]

0    480
1    520
2     60
3    140
4    640
5    320
6    170
Name: cash_available, dtype: int64