The first step will be to create a dictionary in which each key will be a Lender and the values their different attributes

In [3]:
import numpy as np
import pandas as pd

lender_info = []
lender_info

[]

The second step will be to create a function that updates de diccionary and adds the new lenders that enter the market

In [4]:
def lender(name, rate, cash):
    lender_info.append([name, rate, cash])
    return lender_info

apply the formula to the lenders that want to enter the market

In [5]:
lender("Bob" , 0.075, 640)
lender("Jane" , 0.069, 480)
lender("Fred" , 0.071, 520)
lender("Mary" , 0.104, 170)
lender("John" , 0.081, 320)
lender("Dave" , 0.074, 140)
lender("Angela" , 0.071, 60)
lender_info

[['Bob', 0.075, 640],
 ['Jane', 0.069, 480],
 ['Fred', 0.071, 520],
 ['Mary', 0.104, 170],
 ['John', 0.081, 320],
 ['Dave', 0.074, 140],
 ['Angela', 0.071, 60]]

In [6]:
dflender= pd.DataFrame(lender_info, columns=(["name", "rate", "cash_available"]))
dflender

     name   rate  cash_available
0     Bob  0.075             640
1    Jane  0.069             480
2    Fred  0.071             520
3    Mary  0.104             170
4    John  0.081             320
5    Dave  0.074             140
6  Angela  0.071              60

The first step is to create sort the Dataframe by rate from lowest to highest.

In [7]:
def sort_dict():
    return dflender.sort_values(by="rate").reset_index(drop=True).copy(deep=True)
dflender = sort_dict()
dflender

     name   rate  cash_available
0    Jane  0.069             480
1    Fred  0.071             520
2  Angela  0.071              60
3    Dave  0.074             140
4     Bob  0.075             640
5    John  0.081             320
6    Mary  0.104             170

The sort_dict function will do the sorting automatically every time we call it!

In [3]:
import os
os.getcwd()

'/Users/enriquehidalgo/Desktop/BELGRAVE/PROJECTS'

In [1]:
import sys

sys.path.append("../")

In [8]:
from LoanCalculatorP2P.LoanCalculator import borrow

In [9]:
borrow(1300 , dflender)

92.16

In [11]:
interest= (92.16/1300)
interest

0.07089230769230769